@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gradient-to-r from-bright-blue to-bright-green font-inter;
    }
}

@layer components {
    .operand, .operator, .btn {
        @apply py-6 border border-white hover:bg-white hover:cursor-pointer;
    }
}